---
layout: default
title: Tags
permalink: /tags/
---
{% include header.html %}

<main class="page-content" aria-label="Content">
  <section id="tags" class="chapters cf">
    <div class="wrapper flex-row">
      <h1>Tags in Blog</h1>
      <ul class="tags cf">
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
          {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
          <li><a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
        {% endunless %}{% endfor %}
      </ul>

      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
        {% for post in site.tags[this_word] %}
          {% if post.title != null %}
            <div class="tag_list">
              <span><a href="{{ post.url }}">{{ post.title }}</a></span>
              <small><span>{{ post.date | date_to_string }}</span></small>
            </div>
          {% endif %}
        {% endfor %}
      {% endunless %}{% endfor %}
      <div class="back_to_home">
        <a href="{{site.baseurl}}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>        
      </div>
    </div>
  </section>
</main>

{% include pagination.html %}
{% include footer.html %}

