---
layout: default
title: Categorías
permalink: /categories/
---

<main class="page-content" aria-label="Content">
  <section class="categories-section">
    <div class="container">
      <h2 class="section-title">Categorías</h2>

      <ul class="category-list">
        {% for tag in site.tags %}
          {% assign tag_title = tag[0] | replace: "-", " " | capitalize %}
          {% assign tag_image = tag[0] | downcase | append: ".jpg" %}
          <li class="category-item">
            <a href="{{ site.baseurl }}/categories/{{ tag[0] }}/" class="category-link">
              <div class="category-thumbnail" style="background-image: url('{{ "/assets/img/categories/" | prepend: site.baseurl | append: tag_image }}');">
                <span class="category-title">{{ tag_title }}</span>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="back_to_home">
        <a href="{{ site.baseurl }}/" class="back-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>   Volver</a>
      </div>
    </div>
  </section>
</main>

{% include footer.html %}

