---
layout: default
title: Categorías
permalink: /categories/
---

<main class="page-content" aria-label="Content">
  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Categorías</h2>

      <div class="recent_list">
        <ul class="tag-list">
          {% for tag in site.tags %}
            {% assign tag_name = tag[0] | replace: " ", "-" | downcase %}
            <li><a href="{{ site.baseurl }}/categories/{{ tag_name }}/">{{ tag[0] }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="back_to_home">
        <a href="{{ site.baseurl }}/" class="back-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>   Back</a>
      </div>
    </div>
  </section>
</main>

{% include footer.html %}

