<main class="categories">
  <section class="category_list">
    <h2>Categorías</h2>
    <ul>
      <li><a href="{{ site.baseurl }}/category/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/category/code/">Code</a></li>
      <li><a href="{{ site.baseurl }}/category/css/">CSS</a></li>
      <li><a href="{{ site.baseurl }}/category/diet/">Diet</a></li>
      <li><a href="{{ site.baseurl }}/category/life/">Life</a></li>
      <li><a href="{{ site.baseurl }}/category/music/">Music</a></li>
      <li><a href="{{ site.baseurl }}/category/tips/">Tips</a></li>
      <li><a href="{{ site.baseurl }}/category/travel/">Travel</a></li>
      <li><a href="{{ site.baseurl }}/category/tutorial/">Tutorial</a></li>
      <li><a href="{{ site.baseurl }}/category/work/">Work</a></li>
    </ul>
  </section>
</main>


