<main class="categories">
  <section class="category_list">
    <h2>Categorías</h2>
    <ul>
      <li><a href="{{ site.baseurl }}/category/entrantes/">Entrantes</a></li>
      <li><a href="{{ site.baseurl }}/category/platos-para-compartir/">Platos para Compartir</a></li>
      <li><a href="{{ site.baseurl }}/category/platos-principales/">Platos Principales</a></li>
      <li><a href="{{ site.baseurl }}/category/sopas/">Sopas</a></li>
      <li><a href="{{ site.baseurl }}/category/postres/">Postres</a></li>
      <li><a href="{{ site.baseurl }}/category/cafes/">Cafés</a></li>
    </ul>
  </section>
</main>

