<footer class="main_footer">
  <div class="wrapper">
    <!-- Social Footer Include -->
    {% include social_footer.html %}

    <!-- Footer Content -->
    <div class="footer-content">
      <!-- Copyright Section -->
      <div class="copyright">
        <p>&copy; {{site.time | date: '%Y'}} All rights reserved. Design by <a href="https://github.com/ernestovazquez" target="_blank">Ernesto Vázquez García</a></p>
      </div>

      <!-- Legal Links -->
      <div class="footer-right">
        <p class="mb-0">
          <a href="https://recetas.ernestovazquez.es/aviso-legal/">Aviso Legal</a> – 
          <a href="https://recetas.ernestovazquez.es/privacypolicy/">Política de Privacidad</a> – 
          <a href="https://recetas.ernestovazquez.es/politica-de-cookies/">Política de Cookies</a>
        </p>
      </div>
    </div>
  </div>
</footer> <!-- End Section Footer -->

