<header class="main_header">
  <div class="logo-container">
    <a href="{{ site.baseurl }}/" class="logo">
      <img src="{{ site.baseurl }}/assets/img/face.jpg" alt="Logo" style="max-width: 50px;">
    </a>
    <span class="logo-text">Recetas - Ernesto Vázquez</span>
  </div>

  <nav class="main_menu">
    <li class="nav-item"><a href="{{ site.baseurl }}/categories/" class="nav-link categorias-link">Categorías</a></li>
    <!-- Otros enlaces de navegación -->
  </nav>
</header> <!-- End Section Header -->

