---
layout: default
---

<main class="page-content" aria-label="Content">
  <section class="chapters cf">
    <div class="wrapper flex-row">
      <h1>{{ page.title }}</h1>

      {% assign tagname = page.tag %}
      <p>Tag name: {{ tagname }}</p>
      <p>Number of posts: {{ site.tags[tagname] | size }}</p>
      
      {% for post in site.tags[tagname] %}
        <div class="tag_list">
          <span><a href="{{ post.url }}">{{ post.title }}</a></span>
          <small><span>{{ post.date | date_to_string }}</span></small>
        </div>
      {% endfor %}
      
      <div class="back_to_home">
        <a href="{{ site.baseurl }}/">Back</a>
      </div>
    </div>
  </section>
</main>

{% include footer.html %}

